# Application Environment Configuration (Local Development)
# Duplicate this file as .env in project root if you need local overrides

PORT=3000
VITE_APP_TITLE="HH3D Desktop Tool"
VITE_APP_ENV="development"
